body {
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }

 #topbar{
     position: fixed ;
     width:100%;
     height:40px;
     background-color: dimgray;
     color: ghostwhite;
 }
 .fixedwidth{
     width: 1500px;
     margin:0 auto;
     /* background-color: rgb(204, 221, 238); */
 }
 #logo{
     padding-top: 3px;
     float: left;
     /* border-right: 1px solid rgb(187, 106, 106); */
     padding-right: 20px;
 }
 #sign-in{
     padding: 9px 50px 10px 45px;
     font-size: larger;
     color: white;
     /* border-right: 1px solid rgb(187, 106, 106); */
     float:left
 }
 #topmenudiv{
     float:left;
     padding-top: 6px;

 }
 #topmenudiv ul{
     margin:0;
     padding:0;
     
 }
 #topmenudiv li{
     list-style: none;
     border-right: 1px solid rgb(187, 106, 106);
     border-left: 1px solid rgb(187, 106, 106);
     height: 100%;
     float:left;
 }
 #searchdiv{
    float:left;
    padding:4px 8px 8px 750px;
 }
 #searchdiv input{
    height:25px;
    padding-right:20px;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 5px;
 }

.btn-nav:link,
.btn-nav:visited{
    text-transform: uppercase;
    text-decoration: none;
    display:inline-block;
    padding:6px 30px;
    transition: all .2s;
}
.btn-nav:hover{
    transform: translateY(-3px);
    /* box-shadow: 0 10px 20px rgba(0,0,0,.2); */
}
.btn-nav:active{
    transform: translateY(1px);
    /* box-shadow: 0 5px 10px rgba(0,0,0,.2); */
}
.btn-nav-white{
    color:white;
    border-radius: 5px;
}


 /* .header{ */
/* height: 95vh; */
/* background-image: url(image/1.jpg) ; */
/* background-repeat: no-repeat; */
/* float:left; */

.container-1{ 
    display: flex;
    margin:0;
}

.container-1 div{
    /* border: 1px rgb(29, 10, 10) solid ; */
    float:left;
    background-position: top;
}

.box-1{
    flex: 1;
    height: 800px;
    width: 600px;
    background-image: url(images/2.jpg);

} 
.box-2{
    flex:2;
    background-image: linear-gradient(to right bottom,#57dd3c, rgb(220, 238, 57));
}
.heading{
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text-box{
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.title{
    display: block;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 35px;
}
.sub-title{
    display:block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display:inline-block;
    border-radius: 100px;
    transition: all .2s;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn-white{
    background-color: #fff;
    color: #777;
}

.contact li{
    list-style: none;
}

.foot{
    position: relative;
    float:bottom;
     width:100%;
     height:45px;
     background-color: dimgray;
     color: ghostwhite;
     margin:0;
     padding-bottom: 10px;
}

#footer-text{
    text-align: center;
    background-image: url("https://img.icons8.com/emoji/40/000000/copyright-emoji.png");
    background-repeat: no-repeat;
    background-position-x: 41%;
    background-position-y: 110%;
    padding-top: 2px;
}

#me{
    text-align: center;
    font-size: 300%;
    color:red;

}

#me-1{
    text-align: center;
    font-size: 200%;
    color:blue;
}

#image{
    width:350px;
    height:500px;
    border-radius: 50px;
    padding-left: 140px;
}

#image-1{
    width:300px;
    height:500px;
    border-radius: 80px;
    margin: 10px 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#image-2{
    width:300px;
    height:500px;
    border-radius: 10px;
    margin: 10px 50px;
}

.btn-img:link,
.btn-img:visited{
    text-transform: uppercase;
    text-decoration: none;
    display:inline-block;
    padding:6px 30px;
    transition: all .2s;
    border-radius: 20px;
}
.btn-img:hover{
    transform: translateY(-3px);
    box-shadow: 5px 10px 20px rgba(0,0,0,.2);
    border-radius: 20px;
}
.btn-img:active{
    transform: translateY(1px);
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    border-radius: 20px;
}

#arrow{
    position:absolute;
    background-position-x:100%;
    background-position-y:100%;
}